__pycache__/
*.pyc

core/__pycache__/
modules/__pycache__/
utils/__pycache__/

output/bulk_test.txt
output/report.json
output/report_summary.json
output/bulk_engine_test.txt
output/report.md
output/nano_report.json
output/nano_report.md
output/thread_test.txt
output/framework_test.txt
output/logs.txt
output/test_report_summary.json
output/test_report.md
config/framework_settings.json
config/test_framework_settings.json
